<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" metal:define-macro="layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title metal:define-slot="header-title">[slot:header-title]</title>
</head>
<body>
  <h1 metal:define-slot="body-title">[SLOT:body-title]</h1>
  <div metal:define-slot="body-content">[SLOT:body-content]</div>
<div align="right">
  <a href="../index.html">戻る</a>
</div>
</body>
</html>
